 ul.pl-5 li{
  list-style-type: unset;
 }

.col-xl-4.col-lg-4.col-md-12.col-sm-12.pl-0.has-error {
    border: 2px solid #D90000;
    padding-right: 0;
}

::ng-deep .mat-icon-button{
  line-height: 20px !important;
  color: #333333;
}

.link-modal {
  color: #0076BF;
}

.link-modal:hover {
  color: #0076BF;
  text-decoration: underline;
  cursor: pointer;
}

a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

a.skip-main:focus, a.skip-main:active {
  color: #0076BF;
  background-color: #ffffff;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  text-align: center;
  z-index: 999;
}
